MONGO_URI=mongodb+srv://Phuongpham2004:MOAAX1Fs7SRaUifi@cluster1.6d2ix2p.mongodb.net/?appName=Cluster1
DB_NAME=MapHome
JWT_SECRET=MAPHOME@
PORT=5000
GOOGLE_CLIENT_ID=817734182215-ijh0r2a1fbcsm5u5nams9e92obh5cmck.apps.googleusercontent.com
GROQ_API_KEY=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

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dadcnsytn
CLOUDINARY_API_KEY=134879933995351
CLOUDINARY_API_SECRET=ZIjXEvEXotD3qFveQrrRWwvYzsE

# VNPay Sandbox Configuration
# IMPORTANT: For PRODUCTION, replace these with real Merchant credentials.
VNP_TMN_CODE=DZEU7I95
VNP_HASH_SECRET=3J37Z2U90KND4NO3L6K13GPNETZPY10W
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5000/api/payments/callback
FRONTEND_URL=http://localhost:5173
