MONGO_URI=mongodb+srv://Phuongpham2004:MOAAX1Fs7SRaUifi@cluster1.6d2ix2p.mongodb.net/?appName=Cluster1
DB_NAME=MapHome
JWT_SECRET=MAPHOME@
PORT=5000
GOOGLE_CLIENT_ID=817734182215-ijh0r2a1fbcsm5u5nams9e92obh5cmck.apps.googleusercontent.com
OPENROUTER_API_KEY=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
GROQ_API_KEY=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